 
          <section class="container-fluid bg-white">
            <div class="container bg-white py-5">
              <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                  <h1>Browse our set of features</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus
                    libero accumsan.</p>
                </div>
              </div>

              <div class="row ">

                <div class="col-md-3">
                  <article class="border-0 shadow btn text-start btn-primary p-4 mb-4">
                    <img class="p-2 rounded-2" src="img/icons-hero@2x.png" width="120" />
                    <h3 class="py-1">Web services</h3>
                    <small>Lorem ipsum dolor sit amet services consectetur adip tempus hac tellus libero accumsan.
                    </small>
                    <p class="text-end mt-3 mb-0"><a
                        class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="">Read more <i class="bi bi-arrow-right"></i></a></p>
                  </article>
                </div>
                <div class="col-md-3">
                  <article class="border-0 shadow btn text-start btn-primary p-4 mb-4">
                    <img class="p-2 rounded-2" src="img/icons-hero@2x.png" width="120" />
                    <h3 class="py-1">Web services</h3>
                    <small>Lorem ipsum dolor sit amet services consectetur adip tempus hac tellus libero accumsan.
                    </small>
                    <p class="text-end mt-3 mb-0"><a
                        class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="">Read more <i class="bi bi-arrow-right"></i></a></p>
                  </article>
                </div>

                <div class="col-md-3">
                  <article class="border-0 shadow btn text-start btn-primary p-4 mb-4">
                    <img class="p-2 rounded-2" src="img/icons-hero@2x.png" width="120" />
                    <h3 class="py-1">Web services</h3>
                    <small>Lorem ipsum dolor sit amet services consectetur adip tempus hac tellus libero accumsan.
                    </small>
                    <p class="text-end mt-3 mb-0"><a
                        class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="">Read more <i class="bi bi-arrow-right"></i></a></p>
                  </article>
                </div>

                <div class="col-md-3">
                  <article class="border-0 shadow btn text-start btn-primary p-4 mb-4">
                    <img class="p-2 rounded-2" src="img/icons-hero@2x.png" width="120" />
                    <h3 class="py-1">Web services</h3>
                    <small>Lorem ipsum dolor sit amet services consectetur adip tempus hac tellus libero accumsan.
                    </small>
                    <p class="text-end mt-3 mb-0"><a
                        class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="">Read more <i class="bi bi-arrow-right"></i></a></p>
                  </article>
                </div>

                <div class="col-md-3">
                  <article class="border-0 shadow btn text-start btn-primary p-4 mb-4">
                    <img class="p-2 rounded-2" src="img/icons-hero@2x.png" width="120" />
                    <h3 class="py-1">Web services</h3>
                    <small>Lorem ipsum dolor sit amet services consectetur adip tempus hac tellus libero accumsan.
                    </small>
                    <p class="text-end mt-3 mb-0"><a
                        class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="">Read more <i class="bi bi-arrow-right"></i></a></p>
                  </article>
                </div>

                <div class="col-md-3">
                  <article class="border-0 shadow btn text-start btn-primary p-4 mb-4">
                    <img class="p-2 rounded-2" src="img/icons-hero@2x.png" width="120" />
                    <h3 class="py-1">Web services</h3>
                    <small>Lorem ipsum dolor sit amet services consectetur adip tempus hac tellus libero accumsan.
                    </small>
                    <p class="text-end mt-3 mb-0"><a
                        class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="">Read more <i class="bi bi-arrow-right"></i></a></p>
                  </article>
                </div>

                <div class="col-md-3">
                  <article class="border-0 shadow btn text-start btn-primary p-4 mb-4">
                    <img class="p-2 rounded-2" src="img/icons-hero@2x.png" width="120" />
                    <h3 class="py-1">Web services</h3>
                    <small>Lorem ipsum dolor sit amet services consectetur adip tempus hac tellus libero accumsan.
                    </small>
                    <p class="text-end mt-3 mb-0"><a
                        class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="">Read more <i class="bi bi-arrow-right"></i></a></p>
                  </article>
                </div>

                <div class="col-md-3">
                  <article class="border-0 shadow btn text-start btn-primary p-4 mb-4">
                    <img class="p-2 rounded-2" src="img/icons-hero@2x.png" width="120" />
                    <h3 class="py-1">Web services</h3>
                    <small>Lorem ipsum dolor sit amet services consectetur adip tempus hac tellus libero accumsan.
                    </small>
                    <p class="text-end mt-3 mb-0"><a
                        class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="">Read more <i class="bi bi-arrow-right"></i></a></p>
                  </article>
                </div>


              </div>

            </div>
          </section>
        
       