<section class="bg-white">
    <div class="container ">
      <div class="row py-5">
        <div class="col-md-7">
          <img class="rounded-5 w-100" src="https://picsum.photos/800/600" />
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <div>
            <h1>Boost your productivity with our to-do app</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam
              sit nullam neque ultrices</p>
            <div class="d-flex gap-4 ">
              <a href="#" class="btn btn-primary px-4 rounded-5 mx-2">Get Starte</a>
              <a href="#" class="btn btn-outline-primary px-4 rounded-5 mx-2">Talk Sales</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  