<section class="container-fluid bg-white">
    <div class="container bg-white py-5">
      <div class="row mb-5">
        <div class="col-md-8 mx-auto text-center">
          <h1>Browse our set of features</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus
            libero accumsan.</p>
        </div>
      </div>

      <div class="row d-flex justify-content-center">

        <div class="col-md-2 d-flex justify-content-center">
          <article class="shadow btn btn-outline-primary p-4 mb-4 ">
            <img class="rounded-2" src="img/icons-hero@2x.png" width="100"/>
            <h3 class="pt-4 mb-0 ">Web services</h3>
          </article>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <article class="shadow btn btn-outline-primary p-4 mb-4 ">
            <img class="rounded-2" src="img/icons-hero@2x.png" width="100" />
            <h3 class="pt-4 mb-0">Web services</h3>
          </article>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <article class="shadow btn btn-outline-primary p-4 mb-4 ">
            <img class="rounded-2" src="img/icons-hero@2x.png" width="100" />
            <h3 class="pt-4 mb-0">Web services</h3>
          </article>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <article class="shadow btn btn-outline-primary p-4 mb-4 ">
            <img class="rounded-2" src="img/icons-hero@2x.png" width="100" />
            <h3 class="pt-4 mb-0">Web services</h3>
          </article>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
          <article class="shadow btn btn-outline-primary p-4 mb-4 ">
            <img class="rounded-2" src="img/icons-hero@2x.png" width="100" />
            <h3 class="pt-4 mb-0">Web services</h3>
          </article>
        </div>





      </div>

    </div>
  </section>