
<section class="container-fluid bg-white">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-4 d-flex align-items-center">
          <div>
            <div class="mb-3">
              <img class="rounded-circle" src="img/hero-01.png" width="120" />
              <h3 class="pt-3 text-primary">Feature one</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit </p>
            </div>

            <div class="mb-3">
              <img class="rounded-circle" src="img/hero-01.png" width="120" />
              <h3 class="pt-3 text-primary">Feature one</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit </p>
            </div>
          </div>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <img class="rounded-5 w-100" src="https://picsum.photos/800/600" />
        </div>

      </div>
    </div>
  </section>


