<section class="bg-white py-5">
    <div class="container">
      <div class="row justify-content-md-center text-center">
        <div class="col-lg-8 ">
          <div class="mt-3 animate__animated animate__bounceInUp">
            <h6>OUR MISSION</h6>
            <h2 class="text-color-dark font-weight-normal text-6 py-3">We are committed to providing our clients
              the best
              strategic guidance available</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id
              varius nunc. </p>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-lg-6 py-2">
          <img class="w-100" src="img/bg-old.jpg">
        </div>
        <div class="col-lg-6 d-flex align-items-center ">
          <div class="mt-3 animate__animated animate__bounceInUp">
            <h2 class="text-color-dark font-weight-normal text-6 ">Who <strong
                class="font-weight-extra-bold">We Are</strong></h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id
              varius nunc. </p>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim.
              Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget</p>
            <ul class="liststyle-none">
              <li>
                <i class="bi bi-cursor mx-2"></i>Amet orci quis arcu vestibulum vestibulum.
              </li>
              <li>
                <i class="bi bi-cursor mx-2"></i>Quis arcu vestibulum vestibulum.
              </li>
              <li>
                <i class="bi bi-cursor mx-2"></i>Sit amet orci quis arcu.
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>