
<section class="bg-white">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <small class="alert alert-warning px-4 py-2 rounded-5 d-inline-flex">OUR FEATURES</small>
          <h1>Simple, yet powerful feature</h1>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-12">
          <img class="w-100 rounded-4" src="https://picsum.photos/600/150" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <img class="rounded-circle" src="img/hero-01.png" width="120" />
          <h3 class="pt-3 text-primary">Feature one</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit </p>
        </div>
        <div class="col-md-4 text-center">
          <img class="rounded-circle" src="img/hero-01.png" width="120" />
          <h3 class="pt-3 text-primary">Feature one</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit </p>
        </div>
        <div class="col-md-4 text-center">
          <img class="rounded-circle" src="img/hero-01.png" width="120" />
          <h3 class="pt-3 text-primary">Feature one</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit </p>
        </div>
      </div>
    </div>
  </section>
