
<section class="bg-white">
    <div class="container">
      <div class="row d-flex align-items-center py-5">
        <div class="col-md-3">
          <img class="rounded-circle" src="img/hero-01.png" width="120" />
          <h3 class="pt-3 text-primary">Feature one</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit </p>
        </div>
        <div class="col-md-3">
          <img style="height: 250px;" class="rounded-3 w-100" src="img/bg-old.jpg" />
        </div>
        <div class="col-md-3">
          <img style="height: 250px;" class="rounded-3 w-100" src="img/bg-old.jpg" />
        </div>
        <div class="col-md-3">
          <img style="height: 250px;" class="rounded-3 w-100" src="img/bg-old.jpg" />
        </div>


      </div>


    </div>
  </section>
