
          <section class="container-fluid py-5 bg-white">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 mx-auto text-center">
                  <h1>Browse our set of features</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus
                    libero accumsan.</p>

                </div>
              </div>
            </div>
            <div class="container">
              <div class="row d-flex justify-content-center">
                <div class="col-4">
                  <div class="row">
                    <div class="col-md-12 p-2 text-center">
                      <div class="card-custom" style="background-image: url('https://picsum.photos/500/600');">
                        <div class="gradient-overlay"></div>
                        <div class="card-text pt-3">
                          <small><a class="link-warning link-underline-opacity-0" href="">TAGLINE</a></small>
                          <H2>Lorem ipsum dolor</H2>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-12 p-2 text-center">
                      <div class="card-custom-small" style="background-image: url('https://picsum.photos/500/600');">
                        <div class="gradient-overlay"></div>
                        <div class="card-text pt-3">
                          <small><a class="link-warning link-underline-opacity-0" href="">TAGLINE</a></small>
                          <H2>Lorem ipsum dolor</H2>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-md-12 p-2 text-center">
                      <div class="card-custom-small" style="background-image: url('https://picsum.photos/500/600');">
                        <div class="gradient-overlay"></div>
                        <div class="card-text pt-3">
                          <small><a class="link-warning link-underline-opacity-0" href="">TAGLINE</a></small>
                          <H2>Lorem ipsum dolor</H2>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-12 p-2 text-center">
                      <div class="card-custom" style="background-image: url('https://picsum.photos/500/600');">
                        <div class="gradient-overlay"></div>
                        <div class="card-text pt-3">
                          <small><a class="link-warning link-underline-opacity-0" href="">TAGLINE</a></small>
                          <H2>Lorem ipsum dolor</H2>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>



              </div>
            </div>
          </section>
  
          
 