<section>
    <div class="container py-5">
      <div class="row py-5">
        <div class="col-md-12 text-center">
          <small>OUR FEATURES</small>
          <h1>Simple, yet powerful feature</h1>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-4">
          <img class="rounded-circle" src="img/hero-01.png" width="120"/>
          <h3 class="pt-3 text-primary">Feature one</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit </p>
        </div>
        <div class="col-md-4">
          <img class="rounded-circle" src="img/hero-01.png" width="120" />
          <h3 class="pt-3 text-primary">Feature one</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit </p>
        </div>
        <div class="col-md-4">
          <img class="rounded-circle" src="img/hero-01.png" width="120" />
          <h3 class="pt-3 text-primary">Feature one</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit </p>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-12">
          <img class="w-100 rounded-4" src="https://picsum.photos/600/150" />
        </div>
      </div>

    </div>
  </section>
