<section class="container-fluid py-5 bg-white">
    <section class="container p-2  ">
      <div class="row">
        <div class="col-md-5 p-4">
          <div class="">
            <h4>Contact us</h4>
            <h1 class="pb-4">Get in touch
              today</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit nulla
              adipiscing tincidunt interdum tellus du.</p>
            <ul class=" ps-0 text-primary pt-4">
              <li class="list-group-item pb-2"><i class="bi bi-envelope"></i> <a class="text-decoration-none"
                  href="mailto:contact@company.com">contact@company.com</a></a> </li>
              <li class="list-group-item pb-2"><i class="bi bi-telephone"></i> <a class="text-decoration-none"
                  href="tel:9999999999">(123) 456 - 789</a></li>
              <li class="list-group-item pb-2"><i class="bi bi-geo-alt"></i> 794 Mcallister St, San Francisco,
                94102</li>

            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <form action="/action_page.php">
            <div class="row bg-primary rounded-4 text-white p-3">
              <div class="col-md-6">
                <div class="mb-3 mt-3">
                  <label for="name">Name</label>
                  <input type="name" class="form-control rounded-5 px-4 py-3 mt-2" id="email"
                    placeholder="Enter name" name="name">
                </div>

              </div>
              <div class="col-md-6">
                <div class="mb-3 mt-3">
                  <label for="phone">Phone</label>
                  <input type="phone" class="form-control rounded-5 px-4 py-3 mt-2" id="phone"
                    placeholder="Enter phone no" name="phone">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mt-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control rounded-5 px-4 py-3 mt-2" id="email"
                    placeholder="Enter email" name="email">
                </div>
              </div>

              <div class="col-md-12">
                <div class="mb-3 mt-3">
                  <label for="comment">Comments:</label>
                  <textarea class="form-control rounded-3 px-3 py-2 mt-2" rows="5" id="comment"
                    name="text"></textarea>
                </div>
              </div>
              <div class="col-md-12">

                <button type="submit" class="btn btn-info rounded-5 px-5 py-3 mt-4">Send Message</button>

              </div>
            </div>

          </form>
        </div>
      </div>
    </section>
  </section>