<section class="container-fluid bg-white" style="
background-image: url(https://picsum.photos/1000/1000);
background-repeat: no-repeat;
background-position: right; ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 py-3">
        <div class="py-5">
          <form action="/action_page.php">
            <div class="row bg-primary shadow rounded-4 text-white p-4 ">
              <div class="col-md-6">
                <div class="mb-3 mt-3">
                  <label for="name">Name</label>
                  <input type="name" class="form-control rounded-5 px-4 py-3 mt-2" id="email"
                    placeholder="Enter name" name="name">
                </div>

              </div>
              <div class="col-md-6">
                <div class="mb-3 mt-3">
                  <label for="phone">Phone</label>
                  <input type="phone" class="form-control rounded-5 px-4 py-3 mt-2" id="phone"
                    placeholder="Enter phone no" name="phone">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mt-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control rounded-5 px-4 py-3 mt-2" id="email"
                    placeholder="Enter email" name="email">
                </div>
              </div>

              <div class="col-md-12">
                <div class="mb-3 mt-3">
                  <label for="comment">Comments:</label>
                  <textarea class="form-control rounded-3 px-3 py-2 mt-2" rows="5" id="comment"
                    name="text"></textarea>
                </div>
              </div>
              <div class="col-md-12">

                <button type="submit" class="btn btn-info rounded-5 px-5 py-3 mt-4">Send Message</button>

              </div>
            </div>

          </form>
        </div>

      </div>
      <div class="col-md-6 "></div>
    </div>
  </div>
</section>