<section class="container-fluid bg-primary  ">
    <div class="container">
      <div class="row d-flex justify-content-between p-3">
        <div class="col-md-3 mb-3">
          <div class=""><img src="img/logo-dark.png" width="100"
              alt="Appended Image"></div>
        </div>
        <div class="col-md-6 d-flex flex-wrap justify-content-around  align-self-center mb-2 ">
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-warning fw-bold">About Us</a>
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-warning fw-bold">Services</a>
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-warning fw-bold">Latest News</a>
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-warning fw-bold">Gallery</a>
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-warning fw-bold">Contact US</a>
          
        </div>
        <div class="col-md-3 d-flex align-self-center d-flex justify-content-center">
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i
              class="bi bi-facebook"></i></a>
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i
              class="bi bi-twitter"></i></a>
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i
              class="bi bi-linkedin"></i></a>
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i
              class="bi bi-youtube"></i></a>
          <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i
              class="bi bi-whatsapp"></i></a>
        </div>

      </div>
      <div class="row d-flex justify-content-around">
        <div class="col-md-8 border-top border-1 border-white p-3">
          <p class="text-white text-center">Copyright © 2024 Company name | All Rights Reserved | Terms and
            Conditions | Privacy Polic</p>
        </div>
      </div>
    </div>
  </section>