<section class="container-fluid py-5 ">
    <div class="container">
      <div class="row p-3">
        <div class="col-md-8 p-4 pb-0">
          <h1 class="mb-3">Our Team</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper
            dalar elementum tempus hac tellus libero</p>
        </div>
      </div>
      <div class="row">
        <div id="TeamcarouselExampleControls" class="carousel">
          <div class="team carousel-inner">
            <div class="team carousel-item p-2 active">
              <article class="shadow bg-light text-primary rounded-3 p-4 mb-4 text-start ">
                <img class="rounded-circle m-0" src="https://picsum.photos/100/100">
                <div class=" d-flex align-item-center">
                  <div class="align-self-center">
                    <div class="ms-2 border-bottom py-3">
                      <p class="m-0">
                        <strong>Name surname</strong>
                      </p>
                      <p>Designation</p>
                    </div>
                    <div class="ps-2 mt-2  row">
                      <div class="col-md-12 ">
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-facebook"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-twitter"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-linkedin"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-whatsapp"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="team carousel-item p-2 ">
              <article class="shadow bg-light text-primary rounded-3 p-4 mb-4 text-start ">
                <img class="rounded-circle m-0" src="https://picsum.photos/100/100">
                <div class=" d-flex align-item-center">
                  <div class="align-self-center">
                    <div class="ms-2 border-bottom py-3">
                      <p class="m-0">
                        <strong>Name surname</strong>
                      </p>
                      <p>Designation</p>
                    </div>
                    <div class="ps-2 mt-2  row">
                      <div class="col-md-12 ">
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-facebook"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-twitter"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-linkedin"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-whatsapp"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="team carousel-item p-2 ">
              <article class="shadow bg-light text-primary rounded-3 p-4 mb-4 text-start ">
                <img class="rounded-circle m-0" src="https://picsum.photos/100/100">
                <div class=" d-flex align-item-center">
                  <div class="align-self-center">
                    <div class="ms-2 border-bottom py-3">
                      <p class="m-0">
                        <strong>Name surname</strong>
                      </p>
                      <p>Designation</p>
                    </div>
                    <div class="ps-2 mt-2  row">
                      <div class="col-md-12 ">
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-facebook"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-twitter"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-linkedin"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-whatsapp"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="team carousel-item p-2 ">
              <article class="shadow bg-light text-primary rounded-3 p-4 mb-4 text-start ">
                <img class="rounded-circle m-0" src="https://picsum.photos/100/100">
                <div class=" d-flex align-item-center">
                  <div class="align-self-center">
                    <div class="ms-2 border-bottom py-3">
                      <p class="m-0">
                        <strong>Name surname</strong>
                      </p>
                      <p>Designation</p>
                    </div>
                    <div class="ps-2 mt-2  row">
                      <div class="col-md-12 ">
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-facebook"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-twitter"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-linkedin"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-whatsapp"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="team carousel-item p-2 ">
              <article class="shadow bg-light text-primary rounded-3 p-4 mb-4 text-start ">
                <img class="rounded-circle m-0" src="https://picsum.photos/100/100">
                <div class=" d-flex align-item-center">
                  <div class="align-self-center">
                    <div class="ms-2 border-bottom py-3">
                      <p class="m-0">
                        <strong>Name surname</strong>
                      </p>
                      <p>Designation</p>
                    </div>
                    <div class="ps-2 mt-2  row">
                      <div class="col-md-12 ">
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-facebook"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-twitter"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-linkedin"></i></a>
                        <a href="#" class="btn btn-sm btn-primary text-decoration-none text-white"><i
                            class="bi bi-whatsapp"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>






          </div>
          <button class="team carousel-control-prev" type="button"
            data-bs-target="#TeamcarouselExampleControls" data-bs-slide="prev">
            <span class="team carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="team carousel-control-next" type="button"
            data-bs-target="#TeamcarouselExampleControls" data-bs-slide="next">
            <span class="team carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </section>