<section class="container-fluid bg-light py-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 text-center">
        <h1>Frequently Asked Questions Design 03</h1>
        <p class="">Cras tincidunt lobortis feugiat vivamus at morbi leo urna molestie atole
          elementum eu facilisis faucibus interdum posuere</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-9">
        <div class="accordion accordion-three" id="accordionExampleThree">
          <div class="accordion-item shadow border border-primary border-1 p-3 m-3 rounded-4">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button rounded-4 border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse17" aria-expanded="true" aria-controls="collapse17">
                Accordion Item #1
              </button>
            </h2>

            <div id="collapse17" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExampleThree">
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                collapse plugin adds the appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or overriding our default variables.
                It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item shadow  border border-primary border-1 p-3 m-3 rounded-4">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button rounded-4 collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                Accordion Item #2
              </button>
            </h2>
            <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExampleThree">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until
                the collapse plugin adds the appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or overriding our default variables.
                It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item shadow border border-primary border-1 p-3 m-3 rounded-4">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button rounded-4 collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                Accordion Item #3
              </button>
            </h2>
            <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExampleThree">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                collapse plugin adds the appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or overriding our default variables.
                It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>