<section class="container-fluid bg-primary py-5 text-white">
  <div class="container">
      <div class="row">
          <div id="TeamcarouselExampleControls" class="carousel">
              <div class="team carousel-inner">
                <div class="team carousel-item p-4 active">
                      <div class="text-start">
                          <img class="rounded-circle mb-4" src="https://picsum.photos/64/64">
                          
                        </div>
                        <div class="text-center">
                          <p class="text-white ">" e text to bui  and make up the bulk of
                            the card's content."</p>
                          <p class="mb-0 mt-4 text-white"><strong>Name surname</strong></p>
                          <p>Designation</p>
                        </div>                         
                 </div>
               
                
                 <div class="team carousel-item p-4">
                  <div class="text-start">
                      <img class="rounded-circle mb-4" src="https://picsum.photos/64/64">
                      
                    </div>
                    <div class="text-center">
                      <p class="text-white text-center">" e text to bui  and make up the bulk of
                        the card's content."</p>
                      <p class="mb-0 mt-4 text-white"><strong>Name surname</strong></p>
                      <p>Designation</p>
                    </div>                         
                  </div>

                  <div class="team carousel-item p-4">
                    <div class="text-start">
                        <img class="rounded-circle mb-4" src="https://picsum.photos/64/64">
                        
                      </div>
                      <div class="text-center">
                        <p class="text-white ">" e text to bui  and make up the bulk of
                          the card's content."</p>
                        <p class="mb-0 mt-4 text-white"><strong>Name surname</strong></p>
                        <p>Designation</p>
                      </div>                         
                    </div>

                    <div class="team carousel-item p-4">
                      <div class="text-start">
                          <img class="rounded-circle mb-4" src="https://picsum.photos/64/64">
                          
                        </div>
                        <div class="text-center">
                          <p class="text-white  ">" e text to bui  and make up the bulk of
                            the card's content."</p>
                          <p class="mb-0 mt-4 text-white"><strong>Name surname</strong></p>
                          <p>Designation</p>
                        </div>                         
                      </div>
               
                
                
               
              </div>
              <button class="team carousel-control-prev" type="button" data-bs-target="#TeamcarouselExampleControls" data-bs-slide="prev">
                <span class="team carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="team carousel-control-next" type="button" data-bs-target="#TeamcarouselExampleControls" data-bs-slide="next">
                <span class="team carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
      </div>        
  </div>
</section>