<section class="container-fluid bg-white py-5 ">
    <div class="container">
        <div class="row  d-flex justify-content-center">
            <div class="col-md-6 py-5 text-center ">
                <h1 class="mb-3">What our clients say</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper 
                    dalar elementum tempus hac tellus libero</p>
            </div>
        </div>
        <div class="row">
            <div id="TeamcarouselExampleControls" class="carousel">
                <div class="team carousel-inner">
                  <div class="team carousel-item p-2 active">
                    <article class="shadow  rounded-3 p-4 mb-4 text-start ">     
                        <h4>"An amazing service"</h4>
                        <p>Lorem col 
                            consectetur ipsum dolor sit ametolil  adipiscing lectus a nunc 
                            mauris scelerisque sed egesta</p>
                            <div class="d-flex mt-5">
                                <div class=" d-flex align-item-center">
                                    <img class="rounded-circle " src="https://picsum.photos/64/64"></div>
                                <div class="align-self-center">
                                    <div class="ps-3">
                                        <p class="m-0"><strong>Name surname</strong></p>
                                        <small>Designation</small>
                                    </div>                                        
                                </div>
                            </div>
                      </article>                      
                  </div>
                  <div class="team carousel-item p-2 ">
                    <article class="shadow rounded-3 p-4 mb-4 text-start ">     
                        <h4>"An amazing service"</h4>
                        <p>Scelerisque sed egesta Lorem ipsum dolor sit ametolil col 
                            consectetur adipiscing lectus a nunc 
                            mauris </p>
                            <div class="d-flex mt-5">
                                <div class=" d-flex align-item-center">
                                    <img class="rounded-circle " src="https://picsum.photos/64/64"></div>
                                <div class="align-self-center">
                                    <div class="ps-3">
                                        <p class="m-0"><strong>Name surname</strong></p>
                                        <small>Designation</small>
                                    </div>                                        
                                </div>
                            </div>
                      </article>                      
                  </div>
                  <div class="team carousel-item p-2 ">
                    <article class="shadow  p-4 mb-4 text-start ">     
                        <h4>"An amazing service"</h4>
                        <p>Adipiscing lectus orem ipsum dolor sit ametolil col 
                            consectetur  a nunc 
                            mauris scelerisque sed egesta</p>
                            <div class="d-flex mt-5">
                                <div class=" d-flex align-item-center">
                                    <img class="rounded-circle " src="https://picsum.photos/64/64"></div>
                                <div class="align-self-center">
                                    <div class="ps-3">
                                        <p class="m-0"><strong>Name surname</strong></p>
                                        <small>Designation</small>
                                    </div>                                        
                                </div>
                            </div>
                      </article>                      
                  </div>
                  <div class="team carousel-item p-2 ">
                    <article class="shadow  p-4 mb-4 text-start ">     
                        <h4>"An amazing service"</h4>
                        <p>Lorem ipsum dolor sit ametolil col 
                            consectetur adipiscing lectus a nunc 
                            mauris scelerisque sed egesta</p>
                            <div class="d-flex mt-5">
                                <div class=" d-flex align-item-center">
                                    <img class="rounded-circle " src="https://picsum.photos/64/64"></div>
                                <div class="align-self-center">
                                    <div class="ps-3">
                                        <p class="m-0"><strong>Name surname</strong></p>
                                        <small>Designation</small>
                                    </div>                                        
                                </div>
                            </div>
                      </article>                      
                  </div>
                  <div class="team carousel-item p-2 ">
                    <article class="shadow p-4 mb-4 text-start ">     
                        <h4>"An amazing service"</h4>
                        <p>Sed egesta orem ipsum dolor sit ametolil col 
                            consectetur adipiscing lectus a nunc 
                            mauris scelerisque </p>
                            <div class="d-flex mt-5">
                                <div class=" d-flex align-item-center">
                                    <img class="rounded-circle " src="https://picsum.photos/64/64"></div>
                                <div class="align-self-center">
                                    <div class="ps-3">
                                        <p class="m-0"><strong>Name surname</strong></p>
                                        <small>Designation</small>
                                    </div>                                        
                                </div>
                            </div>
                      </article>                      
                  </div>
                  <div class="team carousel-item p-2 ">
                    <article class="shadow  p-4 mb-4 text-start ">     
                        <h4>"An amazing service"</h4>
                        <p>Lorem ipsum dolor sit ametolil col 
                            consectetur adipiscing lectus a nunc 
                            mauris scelerisque sed egesta</p>
                            <div class="d-flex mt-5">
                                <div class=" d-flex align-item-center">
                                    <img class="rounded-circle " src="https://picsum.photos/64/64"></div>
                                <div class="align-self-center">
                                    <div class="ps-3">
                                        <p class="m-0"><strong>Name surname</strong></p>
                                        <small>Designation</small>
                                    </div>                                        
                                </div>
                            </div>
                      </article>                      
                  </div>
                  
                                  
                   
                 
                  
                  
                 
                </div>
                <button class="team carousel-control-prev" type="button" data-bs-target="#TeamcarouselExampleControls" data-bs-slide="prev">
                  <span class="team carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="team carousel-control-next" type="button" data-bs-target="#TeamcarouselExampleControls" data-bs-slide="next">
                  <span class="team carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>        
    </div>
  </section>