<section class="container-fluid bg-primary py-5 text-white">
  <div class="container">
      <div class="row p-3">
          <div class="col-md-8 p-4 pb-0">
              <h1 class="mb-3">What our clients say</h1>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit semper 
                  dalar elementum tempus hac tellus libero</p>
          </div>
      </div>
      <div class="row">
          <div id="TeamcarouselExampleControls" class="carousel">
              <div class="team carousel-inner">
                <div class="team carousel-item p-2 active" data-bs-interval="2000">
                  <article class="shadow bg-light text-primary rounded-3 p-4 mb-4 text-start ">      
                      <div class="text-warning fs-4 pb-2">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-half"></i>
                      <i class="bi bi-star"></i>
                      </div>
                      <h4>"An amazing service"</h4>
                      <p>Lorem ipsum piscing lectus a nunc 
                          mauris scelerisque sed egesta</p>
                      <p class="mb-0 mt-4"><strong>Name surname</strong></p>
                      <p>Designation</p>
                    </article>                      
                </div>
                <div class="team carousel-item p-2 " data-bs-interval="2000">
                  <article class="shadow bg-light text-primary rounded-3 p-4 mb-4 text-start ">      
                      <div class="text-warning fs-4 pb-2">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-half"></i>
                      <i class="bi bi-star"></i>
                      </div>
                      <h4>"An amazing service"</h4>
                      <p> adipiscing lectus a nunc 
                          mauris scelerisque sed egesta</p>
                      <p class="mb-0 mt-4"><strong>Name surname</strong></p>
                      <p>Designation</p>
                    </article>                      
                </div>
                <div class="team carousel-item p-2 " data-bs-interval="2000">
                  <article class="shadow bg-light text-primary rounded-3 p-4 mb-4 text-start ">      
                      <div class="text-warning fs-4 pb-2">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-half"></i>
                      <i class="bi bi-star"></i>
                      </div>
                      <h4>"An amazing service"</h4>
                      <p>Lorem ipsum d  sed egesta</p>
                      <p class="mb-0 mt-4"><strong>Name surname</strong></p>
                      <p>Designation</p>
                    </article>                      
                </div>
                <div class="team carousel-item p-2 " data-bs-interval="2000">
                  <article class="shadow bg-light text-primary rounded-3 p-4 mb-4 text-start ">      
                      <div class="text-warning fs-4 pb-2">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-half"></i>
                      <i class="bi bi-star"></i>
                      </div>
                      <h4>"An amazing service"</h4>
                      <p>Lorem ipsum dipiscing lectus a nunc 
                          mauris scelerisque sed egesta</p>
                      <p class="mb-0 mt-4"><strong>Name surname</strong></p>
                      <p>Designation</p>
                    </article>                      
                </div>   
              </div>
              <button class="team carousel-control-prev" type="button" data-bs-target="#TeamcarouselExampleControls" data-bs-slide="prev">
                <span class="team carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="team carousel-control-next" type="button" data-bs-target="#TeamcarouselExampleControls" data-bs-slide="next">
                <span class="team carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
      </div>        
  </div>
</section>