<div class="container-fluid d-flex align-items-center hero-section-02" style="background-image: url('https://picsum.photos/id/242/1920/1000'); height: 100vh;  ">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 d-flex align-items-center ">
        <div class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2500">
              <div class="py-5">
                <h1 class="text-white pt-5">Affordable <span class="hero-section-highlight">Solutions</span> for startups made easy.</h1>
                <p class="text-white py-3">Our methods are straightforward, reliable, and proven to drive growth and progress.</p>
                <a class="btn btn-warning px-4 rounded-5 m-1" href="#">Know more</a> <a class="btn btn-outline-warning px-4 rounded-5 m-1" href="#">Reach us</a>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <div class="py-5">
                <h1 class="text-white pt-5">Affordable <span class="hero-section-highlight">Solutions</span> for startups made easy.</h1>
                <p class="text-white py-3">Our methods are straightforward, reliable, and proven to drive growth and progress.</p>
                <a class="btn btn-warning px-4 rounded-5 m-1" href="#">Know more</a> <a class="btn btn-outline-warning px-4 rounded-5 m-1" href="#">Reach us</a>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <div class="py-5">
                <h1 class="text-white pt-5">Affordable <span class="hero-section-highlight">Solutions</span> for startups made easy.</h1>
                <p class="text-white py-3">Our methods are straightforward, reliable, and proven to drive growth and progress.</p>
                <a class="btn btn-warning px-4 rounded-5 m-1" href="#">Know more</a> <a class="btn btn-outline-warning px-4 rounded-5 m-1" href="#">Reach us</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 align-self-center ">
        <div>
          <img class="w-100 animate-up-down" src="img/hero-01.png" alt="hero-img">
        </div>
      </div>
    </div>
  </div>
</div>