<section class="bg-white py-5"  >
  <div class="container py-5">
    <div class="row pt-5 d-flex align-items-center">
      <div class="col-md-6 mx-auto text-center hero-content">
        <div class="py-2">
          <h1 class=" fw-bold lh-base">Everything you need to <span class="hero-section-highlight">Start and Run</span> your business grow.</h1>
          <p class="  py-3">Our methods are straightforward, reliable, and proven to drive growth and progress. Our methods are straightforward, reliable, and proven to drive growth and progress.</p>
          <a class="btn btn-primary px-4 rounded-5 m-1" href="#">Know more</a> <a class="btn btn-outline-primary px-4 rounded-5 m-1" href="#">Reach us</a>
        </div>
      </div>

        
      </div>
    </div>

    <div class="row py-5 d-flex justify-content-center align-items-center">
      <div class="col-md-1">
      </div>
      <div class="col-md-2 col-sm-6">
        <img class="rounded-2 w-100 mt-2" src="https://picsum.photos/300/300" alt="Image 1">
      </div>
      <div class="col-md-2 col-sm-6">
        <img class="rounded-2 w-100 mt-2" src="https://picsum.photos/300/400" alt="Image 1">
        <img class="rounded-2 w-100 mt-2" src="https://picsum.photos/300/200" alt="Image 1">
      </div>
      <div class="col-md-2 col-sm-6">
        <img class="rounded-2 w-100 mt-2" src="https://picsum.photos/300/300" alt="Image 1">
        <img class="rounded-2 w-100 mt-2" src="https://picsum.photos/300/400" alt="Image 1">
      </div>
      <div class="col-md-2 col-sm-6">
        <img class="rounded-2 w-100 mt-2" src="https://picsum.photos/300/500" alt="Image 1">
      </div>
      <div class="col-md-2">
        <img class="rounded-2 w-100 mt-2" src="https://picsum.photos/300/400" alt="Image 1">
      </div>

    </div>



   
</section>