
<section class="container-fluid py-5 selected-border selected-section-border">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="">Our results in numbers
                </h1>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-4 p-4">
                <h2 class="">99%</h2>
                <h4 class="">Customer satisfaction
                </h4>
                <p class="">Lorem ipsum dolor sit amet consect</p>
            </div>
            <div class="col-md-4 p-4">
                <h2 class="">32M</h2>
                <h4 class="">Active user
                </h4>
                <p class="">Lorem ipsum dolor sit amet consect</p>
            </div>
            <div class="col-md-4 p-4">
                <h2 class="">240%
                </h2>
                <h4 class="">Company growth
                </h4>
                <p class="">Lorem ipsum dolor sit amet consect</p>
            </div>


        </div>
    </div>
</section>