
<section class="container-fluid py-5 selected-border bg-primary selected-section-border">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-warning">Our results in numbers
                </h1>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-3">
                <div class="p-4 rounded-3 text-white mb-3 text-center">
                    <img src="https://placehold.co/100x50?text=Hello+World" width="100" alt="Appended Image"
                        class="rounded-4">
                    <h2 class="text-center pt-4 fw-bold">99%
                    </h2>
                    <h4 class="text-center">Customer satisfac</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-4 rounded-3 text-white mb-3 text-center">
                    <img src="https://placehold.co/100x50?text=Hello+World" width="100" alt="Appended Image"
                        class="rounded-4">
                    <h2 class="text-center pt-4 fw-bold">32M&nbsp;</h2>
                    <h4 class="text-center">App downloads
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-4 rounded-3 text-white mb-3 text-center">
                    <img src="https://placehold.co/100x50?text=Hello+World" width="100" alt="Appended Image"
                        class="rounded-4">
                    <h2 class="text-center pt-4 fw-bold">125+</h2>
                    <h4 class="text-center">Team member
                    </h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-4 rounded-3 text-white mb-3 text-center">
                    <img src="https://placehold.co/100x50?text=Hello+World" width="100" alt="Appended Image"
                        class="rounded-4">
                    <h2 class="text-center pt-4 fw-bold">240%
                    </h2>
                    <h4 class="text-center">Company growth
                    </h4>
                </div>
            </div>


        </div>
    </div>
</section>