<section class="container-fluid py-5 selected-border">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-primary">Our results in numbers
                </h1>
                <p class="">Lorem ipsum dolor sit amet consectet adipiscing elit eget quamumto.
                </p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-4 selected-border">
                <div class="p-2 rounded-3 border-2 border-primary mb-3 text-center">

                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <img src="https://placehold.co/100x50?text=Hello+World" width="100" alt="Appended Image">
                        </div>
                        <div class="col-md-6 d-flex align-self-center">
                            <p class="p-0 m-0">Customer
                                satisfaction dsrtertewrt</p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 d-flex align-self-center">
                            <h4 class="fw-bold">99%</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 selected-border">
                <div class="p-2 rounded-3 border-2 border-primary mb-3 text-center">

                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <img src="https://placehold.co/100x50?text=Hello+World" width="100" alt="Appended Image">
                        </div>
                        <div class="col-md-6 d-flex align-self-center">
                            <p class="p-0 m-0">Customer
                                satisfaction dsrtertewrt</p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 d-flex align-self-center">
                            <h4 class="fw-bold">99%</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 selected-border">
                <div class="p-2 rounded-3 border-2 border-primary mb-3 text-center">

                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <img src="https://placehold.co/100x50?text=Hello+World" width="100" alt="Appended Image">
                        </div>
                        <div class="col-md-6 d-flex align-self-center">
                            <p class="p-0 m-0">Customer
                                satisfaction dsrtertewrt</p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 d-flex align-self-center">
                            <h4 class="fw-bold">99%</h4>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>