

<section class="container-fluid py-5 selected-border">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-primary">Our results in numbers
                </h1>
                <p class="">Lorem ipsum dolor sit amet consectet adipiscing elit eget quamumto.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 selected-border">
                <div class="p-4 text-center border-2 border-primary m-2 rounded-3">
                    <h2 class="fw-bold">99%
                    </h2>
                    <p class="">Lorem ipsum dolor sit amet
                        consectet adipiscing el</p>
                </div>
            </div>
            <div class="col-md-3 selected-border">
                <div class="p-4 text-center border-2 border-primary m-2 rounded-3">
                    <h2 class="fw-bold">99%
                    </h2>
                    <p class="">Lorem ipsum dolor sit amet
                        consectet adipiscing el</p>
                </div>
            </div>
            <div class="col-md-3 selected-border">
                <div class="p-4 text-center border-2 border-primary m-2 rounded-3">
                    <h2 class="fw-bold">99%
                    </h2>
                    <p class="">Lorem ipsum dolor sit amet
                        consectet adipiscing el</p>
                </div>
            </div>
            <div class="col-md-3 selected-border">
                <div class="p-4 text-center border-2 border-primary m-2 rounded-3">
                    <h2 class="fw-bold">99%
                    </h2>
                    <p class="">Lorem ipsum dolor sit amet
                        consectet adipiscing el</p>
                </div>
            </div>

        </div>
    </div>
</section>