<section class="container-fluid py-5 selected-border">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-primary">Our results in numbers
                </h1>
                <p class="">Lorem ipsum dolor sit amet consectet adipiscing elit eget quamumto.
                </p>
            </div>
        </div>
        <div class="row py-5 d-flex align-self-center selected-border text-white">
            <div class="col-md-6 d-flex align-self-stretch">
                <div class="p-2 rounded-3 bg-primary mb-3 w-100 m-2 d-flex">

                    <div class="row d-flex align-self-end">


                        <h5 class="mt-5">Company growth</h5>
                        <h2 class="">125%</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-6">
                        <div class="p-2 rounded-3 bg-primary mb-2">
                            <h5 class="mt-5">Customer satisfaction
                            </h5>
                            <h2 class="">99%
                            </h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-2 rounded-3 bg-primary mb-2">
                            <h5 class="mt-5">App downloads
                            </h5>
                            <h2 class="">32M</h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-2 rounded-3 bg-primary mb-2">
                            <h5 class="mt-5">Raised</h5>
                            <h2 class="">60M
                            </h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-2 rounded-3 bg-primary mb-2">
                            <h5 class="mt-5">Employees
                            </h5>
                            <h2 class="">125+
                            </h2>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>
