<section class="container-fluid bg-light">
    <div class="container pt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Welcome to Our Blog!</h1>
                <p>Dive into a world of insights, stories, and updates. Our blog is your go-to destination for the latest trends, expert advice, and inspiring tales from our community. Join us on this journey as we explore a wide range of topics and share our passion with you.</p>
            </div>
        </div>
        
    </div>
    <div class="container py-5">
      <div class="row">
         

        <div class="col-md-4 mb-2">
          <div class="bg-white shadow " >
           <div class="row p-0 m-0">
            <div class="col-md-12 p-0 article-img"  >
                <img src="https://picsum.photos/400/350" width="100%">
            </div>
            <div class="col-md-12 p-4 position-relative"  >
              <div class="p-4">
                <h5>Creativity is nothing but a mind set free</h5>
                <p>Lorem ipsum is simply dummy g...Lsimply dummy  Lor imply dummy</p>
                <p class="mt-5 mb-0" >
                  <a class="btn btn-primary px-4 " href="">Read more <i class="bi bi-arrow-right"></i></a></p>
              </div>
              
            </div>
           </div>
          </div>
        </div>


        <div class="col-md-4 mb-2">
          <div class="bg-white shadow " >
           <div class="row p-0 m-0">
            <div class="col-md-12 p-0 article-img"  >
                <img src="https://picsum.photos/400/350" width="100%">
            </div>
            <div class="col-md-12 p-4 position-relative"  >
              <div class="p-4">
                <h5>Creativity is nothing but a mind set free</h5>
                <p>Lorem ipsum is simply dummy g...Lsimply dummy  Lor imply dummy</p>
                <p class="mt-5 mb-0" >
                  <a class="btn btn-primary px-4" href="">Read more <i class="bi bi-arrow-right"></i></a></p>
              </div>
              
            </div>
           </div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="bg-white shadow " >
           <div class="row p-0 m-0">
            <div class="col-md-12 p-0 article-img"  >
                <img src="https://picsum.photos/400/350" width="100%">
            </div>
            <div class="col-md-12 p-4 position-relative"  >
              <div class="p-4">
                <h5>Creativity is nothing but a mind set free</h5>
                <p>Lorem ipsum is simply dummy g...Lsimply dummy  Lor imply dummy</p>
                <p class="mt-5 mb-0" >
                  <a class="btn btn-primary px-4" href="">Read more <i class="bi bi-arrow-right"></i></a></p>
              </div>
              
            </div>
           </div>
          </div>
        </div>  
      </div>
    </div>
  </section>