            <!--===Navbar Design 08===-->
            <nav class="navbar navbar-expand-lg fixed-top  navbar-dark px-4 p-2" style="background-color: #1e1d24;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="javascript:void(0)"><img src="img/logo-dark.png" height="60" alt="logo"></a>
                     
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon hamburger"></span> 
                    </button> 
  
  
                  <div class="collapse navbar-collapse justify-content-md-around" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0)">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">About</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="dropdown08" data-bs-toggle="dropdown"
                          aria-expanded="true">Services</a>
                        <ul class="dropdown-menu " style="background-color: #1e1d24;" aria-labelledby="dropdown08" data-bs-popper="none">
                          <li><a class="dropdown-item text-white" href="#">Services list item</a></li>
                          <li><a class="dropdown-item text-white" href="#">Services list item</a></li>
                          <li><a class="dropdown-item text-white" href="#">Services list item</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item text-white" href="#">Services list item</a></li>
                          <li><a class="dropdown-item text-white" href="#">Services list item</a></li>
  
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Careers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Gallery</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Contact</a>
                      </li>
                    </ul>
                    <ul class="navbar-nav ms-auto d-flex list-group-horizontal">
                      <li class="m-1"><a href="#" class="btn btn-warning px-4 rounded-5 m-1 w-100">Get Started</a></li>
          <li class="m-1"><a href="#" class="btn btn-outline-warning px-4 rounded-5 m-1 w-100">Reach Us</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--===Navbar Design 08===-->