<!--===Navbar Design 03===-->
<div class="container-fluid d-lg-block d-none d-md-none d-sm-none" style="background-color: #1e1d24;">
    <div class="d-flex justify-content-center">
    <a class="navbar-brand m-2" href="javascript:void(0)"><img src="img/logo-dark.png"
        height="60" alt="logo"></a>
    </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark py-0 sticky-top" style="background-color: #1e1d24;">
    
    <div class="container-fluid ">
    
    <a class="navbar-brand d-lg-none" href="javascript:void(0)"><img
        src="img/logo-dark.png" height="60" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-md-around  " id="mynavbar">
    
      <ul class="navbar-nav top-logo-center mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">About</a>
        </li>
        <li class="nav-item  dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="dropdown08" data-bs-toggle="dropdown"
            aria-expanded="true">Services</a>
          <ul class="dropdown-menu bg-dark text-white" aria-labelledby="dropdown08" data-bs-popper="none">
            <li><a class="dropdown-item text-white" href="#">Services item 01</a></li>
            <li><a class="dropdown-item  text-white" href="#">Services item 02</a></li>
            <li><a class="dropdown-item  text-white" href="#">Services item 03</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item  text-white" href="#">Services item 04</a></li>
            <li><a class="dropdown-item  text-white" href="#">Services item 05</a></li>
    
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Contact</a>
        </li>
      </ul>
    
    </div>
    
    
    </div>
    </nav>
    <!--===Navbar Design 03===-->