            <!--===Navbar Design 04===-->
            <div class="offcanvas offcanvas-end fixed-top text-bg-dark" id="demo">
                <div class="offcanvas-header px-4" style="background-color: #1e1d24;">
                  <a class="navbar-brand" href="javascript:void(0)"><img src="img/logo-dark.png" height="60" alt="logo"></a>
                 
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body " style="background-color: #1e1d24;">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0)">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)">About</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle " href="#" id="dropdown08" data-bs-toggle="dropdown"
                        aria-expanded="true">Services</a>
                      <ul class="dropdown-menu" style="background-color: #1e1d24;" aria-labelledby="dropdown08" data-bs-popper="none">
                        <li><a class="dropdown-item text-white" href="#">Services list item</a></li>
                        <li><a class="dropdown-item  text-white" href="#">Services list item</a></li>
                        <li><a class="dropdown-item  text-white" href="#">Services list item</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item  text-white" href="#">Services list item</a></li>
                        <li><a class="dropdown-item  text-white" href="#">Services list item</a></li>
  
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)">Careers</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)">Gallery</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)">Contact</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav ms-auto">
                    <li class="m-1"><a href="#" class="btn btn-warning px-4 w-100">Login</a></li>
                    <li class="m-1"><a href="#" class="btn btn-outline-warning px-4 w-100">Signup</a></li>
                  </ul>
                </div>
              </div>
              <nav class="navbar navbar-expand-lg  navbar-dark  py-0" style="background-color: #1e1d24;">
                <div class="container-fluid px-4">
                  <a class="navbar-brand" href="javascript:void(0)"><img src="img/logo-dark.png" height="60" alt="logo"></a>
  
                  <a href="#" class="ms-auto btn btn-warning hideinsm px-4 rounded-5 m-1">Reach Us</a>
  
                  <button class="btn btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                    <span class="navbar-toggler-icon"></span>
                  </button>
  
                </div>
              </nav>
              <!--===Navbar Design 04===-->