<nav class="navbar nav-design-four navbar-expand-lg  navbar-dark fixed-top w-100 overlay" style="background-color: #0000004d;">
    <div class="container">
      <a class="navbar-brand " href="javascript:void(0)"><img src="img/logo-dark.png" height="60" alt="logo"></a> 

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon hamburger"></span> 
      </button>        

      <div class="collapse navbar-collapse justify-content-md-around" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item  ">
            <a class="nav-link" href="javascript:void(0)">Home</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" href="javascript:void(0)">About us</a>
          </li>
          
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle " href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="true">Our Services</a>
            <ul class="dropdown-menu overlay" aria-labelledby="dropdown08" data-bs-popper="none" style="background-color: #0000004d;">
              <li  class=""><a class="dropdown-item text-white" href="#">Services 01</a></li>
              <li  class=""><a class="dropdown-item text-white" href="#">Services 02</a></li>
              <li  class=""><a class="dropdown-item text-white" href="#">Services 03</a></li>
            </ul>
          </li>
         
           <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Portfolio</a>
           </li>
           
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Pricing</a>
           </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Blog</a>
           </li>
          
        </ul>
        <button class="btn btn-warning btn-md px-4 rounded-5  d-block d-sm-none my-3" type="button">Contact Us!</button>

      </div>

      <button class="btn btn-warning btn-md px-4 rounded-5 d-none d-sm-block" type="button">Contact Us!</button>
    </div>
  </nav>