
<section class="container-fluid bg-primary text-white">
    <div class="container">
      <div class="row py-5 d-flex align-items-center">
        <div class="col-md-8 mb-5">
          <h3>Create your account today and get started for free!</h3>
          <small>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit<br />
            phasellus mollis sit aliquam sit nullam neque ultrices</small>
        </div>
        <div class="col-md-4 mb-3">
          <div class="d-flex justify-content-center flex-wrap gap-2 ">
            <a href="#" class="btn btn-info px-4 rounded-5 mx-2">Get Starte</a>
            <a href="#" class="btn btn-outline-info px-4 rounded-5 mx-2">Talk Sales</a>
          </div>
        </div>
      </div>
    </div>
  </section>