

<section class="container-fluid bg-primary text-white selected-section-border  ">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="">Trusted by 10,000+ companies around the world</h2>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-2 col-sm-6 col-xs-6 col-s-6 mb-4 text-center">
          <img src="img/logo-dark.png" width="100" alt="Appended Image">
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 col-s-6 mb-4 text-center">
          <img src="img/logo-dark.png" width="100" alt="Appended Image">
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 mb-4 text-center">
          <img src="img/logo-dark.png" width="100" alt="Appended Image">
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 mb-4 text-center">
          <img src="img/logo-dark.png" width="100" alt="Appended Image">
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 mb-4 text-center">
          <img src="img/logo-dark.png" width="100" alt="Appended Image">
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 mb-4 text-center">
          <img src="img/logo-dark.png" width="100" alt="Appended Image">
        </div>





      </div>
    </div>
  </section>
