<section class="container-fluid bg-secondary text-white  ">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 p-2">
              <p class="mb-0 d-flex gap-1  text-white "><i class="bi bi-geo-alt-fill"></i> Location name, address 1, address 2 - 500 500</p>
            </div>
            <div class="col-md-6 p-2   text-end">
              <a class="link-light text-white text-decoration-none border-end px-2 me-2" href="#"><i class="bi bi-envelope"></i> info@domainname.com </a>                       
              <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i class="bi bi-facebook"></i></a>
              <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i class="bi bi-twitter"></i></a>
              <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i class="bi bi-linkedin"></i></a>
              <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i class="bi bi-youtube"></i></a>
              <a href="#" class="btn btn-sm btn-link text-decoration-none text-white"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
    </div>
</section>